/* line 3, ../sass/buttons.sass */
.button--l, .button--xs, .button--s {
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  border: none;
  background-color: #1f8dd6;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
/* line 12, ../sass/buttons.sass */
.button--l:hover, .button--xs:hover, .button--s:hover {
  background-color: #3ba0e3;
}
/* line 14, ../sass/buttons.sass */
.button--l:active, .button--xs:active, .button--s:active {
  background-color: #1d84c9;
}
/* line 16, ../sass/buttons.sass */
.disabled.button--l, .disabled.button--xs, .disabled.button--s {
  -moz-box-shadow: 0 1px 0 #d6d2d1;
  -webkit-box-shadow: 0 1px 0 #d6d2d1;
  box-shadow: 0 1px 0 #d6d2d1;
  background-color: #e9e7e7;
  cursor: default;
}

/* line 35, ../sass/buttons.sass */
.button--l {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  display: inline;
  padding: 18px;
  font-size: 20px;
  width: 100%;
  max-width: 290px;
}
/* line 28, ../sass/buttons.sass */
.button--l:active {
  -moz-box-shadow: 0 1px 0 #8ca671;
  -webkit-box-shadow: 0 1px 0 #8ca671;
  box-shadow: 0 1px 0 #8ca671;
}
/* line 30, ../sass/buttons.sass */
.button--l[disabled] {
  -moz-box-shadow: 0 1px 0 #d6d2d1;
  -webkit-box-shadow: 0 1px 0 #d6d2d1;
  box-shadow: 0 1px 0 #d6d2d1;
  background-color: #e9e7e7;
  cursor: default;
}

/* line 40, ../sass/buttons.sass */
.button--xs, .button--s {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  display: inline;
  padding: 10px;
  font-size: 15px;
}
/* line 28, ../sass/buttons.sass */
.button--xs:active, .button--s:active {
  -moz-box-shadow: 0 1px 0 #8ca671;
  -webkit-box-shadow: 0 1px 0 #8ca671;
  box-shadow: 0 1px 0 #8ca671;
}
/* line 30, ../sass/buttons.sass */
.button--xs[disabled], .button--s[disabled] {
  -moz-box-shadow: 0 1px 0 #d6d2d1;
  -webkit-box-shadow: 0 1px 0 #d6d2d1;
  box-shadow: 0 1px 0 #d6d2d1;
  background-color: #e9e7e7;
  cursor: default;
}
