<div class='pure-g primary-header'>
  <div class='pure-u-1-6 logo'>
    {{#link-to 'index'}}MyAnime.io{{/link-to}}
  </div>
  <div class='pure-u-1-2 search-input__wrap'>
    <input class='search-input' type='text' placeholder='find anime, manga, actors, and more...'>
  </div>
  <div class='pure-u-1-3 authentication'>
    <div class='button--s'>Register</div>
    <div class='button--s'>Log In</div>
  </div>
</div>
